@model List<ProvidedServiceListDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our Services</h2>

<style>
    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-body {
        flex: 1;
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
</style>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImagePath" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        @(item.Description.Length > 250 ? item.Description.Substring(0, 250) + "..." : item.Description)
                        <div class="mt-4">
                            <a href="#" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
