@model List<ProvidedServiceListDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <style>
        .card {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .card-body {
            flex: 1;
        }

        .card-img-top {
            height: 15rem;
            object-fit: cover;
        }
    </style>
}

<h2 class="px-4">Our Services</h2>

<div class="container-fluid">
    <div class="row mt-5">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImagePath" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        @(item.Description.Length > 250 ? item.Description.Substring(0, 250) + "..." : item.Description)
                    </div>
                </div>
            </div>
        }
    </div>
</div>