@model AdvertisementCreateDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <form asp-action="Create" asp-controller="Application" method="post">
        <div class="mb-3">
            <label>Advertisement Title</label>
            <input class="form-control" asp-for="@Model.Title" />
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input me-2" asp-for="Status" />
            <label class="form-check-label" asp-for="Status">Active</label>
        </div>

        <div class="mb-3">
            <label>Content</label>
            <textarea asp-for="@Model.Description" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>

</div>

@section script {
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/trumbowyg.min.js" integrity="sha512-YJgZG+6o3xSc0k5wv774GS+W1gx0vuSI/kr0E0UylL/Qg/noNspPtYwHPN9q6n59CTR/uhgXfjDXLTRI+uIryg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            $("#Description").trumbowyg({
                lang: 'tr'
            });
        })
    </script>
}

@section css {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/ui/trumbowyg.min.css" integrity="sha512-Fm8kRNVGCBZn0sPmwJbVXlqfJmPC13zRsMElZenX6v721g/H7OukJd8XzDEBRQ2FSATK8xNF9UYvzsCtUpfeJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}