@{
    ViewData["Title"] = "AccessDeniedPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,400i" />
<link rel="stylesheet" href="~/403Forbidden//dist/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<body>
    <div class="wrapper">
        <div class="box">
            <h1>403</h1>
            <p>Sorry, it's not allowed to go beyond this point!</p>
            <p><a asp-action="Index" asp-controller="Home">Please, go back this way.</a></p>
        </div>
    </div>
</body>
